<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
</head>
<body>

<button onclick="connect()" class="userbutton"></button>
<input type="text" class="username">
=======================================================
<input type="text" class="message">
<button onclick="sendMessage()"></button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/sock.js"></script>

</body>

</html>